
#title {
    font-size: 22px;
    color:#162741;
}

#login-box {
    margin-top:10%;
}

.error-msg {
    color: white;
    background: #f56954;
    line-height: 30px !important;
}

.error-msg ul {
    padding: 0;
    margin-left: 0;
}

.error-msg li {
    list-style: none;
}

#id_captcha_1 {
    width: 73%;
    float:left;
    margin-right: 2%;
    margin-bottom: 15px;
}

#captcha_img {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}