{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Aisino | 系统首页 {% endblock %}
{% block content_body %}
{#  <!-- Content Wrapper. Contains page content -->#}
{#  <div class="content-wrapper">#}
{##}
{#    <!-- Main content -->#}
{#    <section class="content  box-header-padding">#}
{#      <div class="row">#}
{#        <div class="col-md-6">#}
{#          <div class="box">#}
{#            <div class="box-header">#}
{#              <h3 class="box-title">最近更新</h3>#}
{##}
{#              <div class="box-tools">#}
{#                <ul class="pagination pagination-sm no-margin pull-right">#}
{#                  <li><a href="#">&laquo;</a></li>#}
{#                  <li><a href="#">1</a></li>#}
{#                  <li><a href="#">2</a></li>#}
{#                  <li><a href="#">3</a></li>#}
{#                  <li><a href="#">&raquo;</a></li>#}
{#                </ul>#}
{#              </div>#}
{#            </div>#}
{#            <!-- /.box-header -->#}
{#            <div class="box-body no-padding">#}
{#              <table class="table">#}
{#                <tr>#}
{#                  <th style="width: 10px">#</th>#}
{#                  <th>任务</th>#}
{#                  <th>进度</th>#}
{#                  <th style="width: 40px">标签</th>#}
{#                </tr>#}
{#                <tr>#}
{#                  <td>1.</td>#}
{#                  <td>更新软件</td>#}
{#                  <td>#}
{#                    <div class="progress progress-xs">#}
{#                      <div class="progress-bar progress-bar-danger" style="width: 55%"></div>#}
{#                    </div>#}
{#                  </td>#}
{#                  <td><span class="badge bg-red">55%</span></td>#}
{#                </tr>#}
{#                <tr>#}
{#                  <td>2.</td>#}
{#                  <td>清理数据库</td>#}
{#                  <td>#}
{#                    <div class="progress progress-xs">#}
{#                      <div class="progress-bar progress-bar-yellow" style="width: 70%"></div>#}
{#                    </div>#}
{#                  </td>#}
{#                  <td><span class="badge bg-yellow">70%</span></td>#}
{#                </tr>#}
{#                <tr>#}
{#                  <td>3.</td>#}
{#                  <td>Cron 任务运行</td>#}
{#                  <td>#}
{#                    <div class="progress progress-xs progress-striped active">#}
{#                      <div class="progress-bar progress-bar-primary" style="width: 30%"></div>#}
{#                    </div>#}
{#                  </td>#}
{#                  <td><span class="badge bg-light-blue">30%</span></td>#}
{#                </tr>#}
{#                <tr>#}
{#                  <td>4.</td>#}
{#                  <td>修复 BUG</td>#}
{#                  <td>#}
{#                    <div class="progress progress-xs progress-striped active">#}
{#                      <div class="progress-bar progress-bar-success" style="width: 90%"></div>#}
{#                    </div>#}
{#                  </td>#}
{#                  <td><span class="badge bg-green">90%</span></td>#}
{#                </tr>#}
{#              </table>#}
{#            </div>#}
{#            <!-- /.box-body -->#}
{#          </div>#}
{#          <!-- /.box -->#}
{##}
{#          <div class="box box-margin">#}
{#            <div class="box-header">#}
{#              <h3 class="box-title">最近考试</h3>#}
{##}
{#              <div class="box-tools">#}
{#                <ul class="pagination pagination-sm no-margin pull-right">#}
{#                  <li><a href="#">&laquo;</a></li>#}
{#                  <li><a href="#">1</a></li>#}
{#                  <li><a href="#">2</a></li>#}
{#                  <li><a href="#">3</a></li>#}
{#                  <li><a href="#">&raquo;</a></li>#}
{#                </ul>#}
{#              </div>#}
{#            </div>#}
{#            <!-- /.box-header -->#}
{#            <div class="box-body no-padding">#}
{#              <table class="table">#}
{#                <tr>#}
{#                  <th style="width: 10px">#</th>#}
{#                  <th>任务</th>#}
{#                  <th>进度</th>#}
{#                  <th style="width: 40px">标签</th>#}
{#                </tr>#}
{#                <tr>#}
{#                  <td>1.</td>#}
{#                  <td>更新软件</td>#}
{#                  <td>#}
{#                    <div class="progress progress-xs">#}
{#                      <div class="progress-bar progress-bar-danger" style="width: 55%"></div>#}
{#                    </div>#}
{#                  </td>#}
{#                  <td><span class="badge bg-red">55%</span></td>#}
{#                </tr>#}
{#                <tr>#}
{#                  <td>2.</td>#}
{#                  <td>清理数据库</td>#}
{#                  <td>#}
{#                    <div class="progress progress-xs">#}
{#                      <div class="progress-bar progress-bar-yellow" style="width: 70%"></div>#}
{#                    </div>#}
{#                  </td>#}
{#                  <td><span class="badge bg-yellow">70%</span></td>#}
{#                </tr>#}
{#                <tr>#}
{#                  <td>3.</td>#}
{#                  <td>Cron 任务运行</td>#}
{#                  <td>#}
{#                    <div class="progress progress-xs progress-striped active">#}
{#                      <div class="progress-bar progress-bar-primary" style="width: 30%"></div>#}
{#                    </div>#}
{#                  </td>#}
{#                  <td><span class="badge bg-light-blue">30%</span></td>#}
{#                </tr>#}
{#                <tr>#}
{#                  <td>4.</td>#}
{#                  <td>修复 BUG</td>#}
{#                  <td>#}
{#                    <div class="progress progress-xs progress-striped active">#}
{#                      <div class="progress-bar progress-bar-success" style="width: 90%"></div>#}
{#                    </div>#}
{#                  </td>#}
{#                  <td><span class="badge bg-green">90%</span></td>#}
{#                </tr>#}
{#              </table>#}
{#            </div>#}
{#            <!-- /.box-body -->#}
{#          </div>#}
{#          <!-- /.box -->#}
{#        </div>#}
{#        <!-- /.col -->#}
{#        <div class="col-md-6">#}
{#          <div class="box box-primary">#}
{#            <div class="box-body no-padding">#}
{#              <!-- THE CALENDAR -->#}
{#              <div id="calendar"></div>#}
{#            </div>#}
{#            <!-- /.box-body -->#}
{#          </div>#}
{#          <!-- /.box -->#}
{#        </div>#}
{#        <!-- /.col -->#}
{#      </div>#}
{#    </section>#}
{##}
{#    <!-- /.content -->#}
{#  </div>#}
{% endblock %}